  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="https://adminkit.io/" target="_blank">
      <span class="align-middle">AdminKit</span>
    </a>
  
    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Pages
      </li>
  
      <li class="sidebar-item active">
        <a class="sidebar-link" href="/guide/index.html?dep1=1&dep2=0">
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
        </a>
      </li>
  
      <li class="sidebar-item">
        <a class="sidebar-link" href="/guide/pages-profile.html?dep1=2&dep2=0">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
        </a>
      </li>
  
      <li class="sidebar-item">
        <a class="sidebar-link" href="/guide/pages-settings.html?dep1=3&dep2=0">
          <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Settings</span>
        </a>
      </li>
  
      <li class="sidebar-item">
        <a class="sidebar-link" href="/guide/pages-invoice.html?dep1=4&dep2=0">
          <i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Invoice</span>
        </a>
      </li>
  
      <li class="sidebar-item">
        <a class="sidebar-link" href="/guide/pages-blank.html?dep1=5&dep2=0">
          <i class="align-middle" data-feather="book"></i> <span class="align-middle">Blank</span>
        </a>
      </li>
  
      <li class="sidebar-item">
        <a href="#auth" data-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle" data-feather="users"></i> <span class="align-middle">Auth</span>
        </a>
        <ul id="auth" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
          <li class="sidebar-item"><a class="sidebar-link" href="/guide/pages-sign-in.html?dep1=6&dep2=0">Sign In</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="/guide/pages-sign-up.html?dep1=6&dep2=1">Sign Up</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="/guide/pages-404.html?dep1=6&dep2=2">404 Page</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="/guide/pages-loading.html?dep1=6&dep2=3">loading Page</a></li>
        </ul>
      </li>
  
      <li class="sidebar-header">
        Tools & Components
      </li>
      <li class="sidebar-item">
        <a href="#ui" data-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">UI Elements</span>
        </a>
        <ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
          <li class="sidebar-item"><a class="sidebar-link" href="/guide/ui-alerts.html?dep1=8&dep2=0">Alerts</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="/guide/ui-buttons.html?dep1=8&dep2=1">Buttons</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="/guide/ui-cards.html?dep1=8&dep2=2">Cards</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="/guide/ui-general.html?dep1=81&dep2=3">General</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="/guide/ui-grid.html?dep1=8&dep2=4">Grid</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="/guide/ui-modals.html?dep1=8&dep2=5">Modals</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="/guide/ui-typography.html?dep1=8&dep2=6">Typography</a></li>
        </ul>
      </li>
  
      <li class="sidebar-item">
        <a class="sidebar-link" href="/guide/icons-feather.html?dep1=9&dep2=0">
          <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Icons</span>
        </a>
      </li>
  
      <li class="sidebar-item">
        <a data-target="#forms" data-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle" data-feather="check-circle"></i> <span class="align-middle">Forms</span>
        </a>
        <ul id="forms" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
          <li class="sidebar-item"><a class="sidebar-link" href="/guide/forms-layouts.html?dep1=10&dep2=0">Form Layouts</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="/guide/forms-basic-inputs.html?dep1=10&dep2=1">Basic Inputs</a></li>
        </ul>
      </li>
  
      <li class="sidebar-item">
        <a data-target="#table"  data-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle" data-feather="list"></i> <span class="align-middle">Tables</span>
        </a>
        <ul id="table" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
          <li class="sidebar-item"><a class="sidebar-link" href="/guide/tables-bootstrap.html?dep1=11&dep2=0">Tables</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="/guide/tables-bootstrap2.html?dep1=11&dep2=1">Tables2</a></li>
        </ul>
      </li>
  
      <li class="sidebar-header">
        Plugins & Addons
      </li>
  
      <li class="sidebar-item">
        <a class="sidebar-link" href="/guide/charts-chartjs.html?dep1=13&dep2=0">
          <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Charts</span>
        </a>
      </li>
  
      <li class="sidebar-item">
        <a class="sidebar-link" href="/guide/maps-google.html?dep1=14&dep2=0">
          <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
        </a>
      </li>
      
      <!-- multi -->
      <li class="sidebar-item">
        <a data-target="#multi" data-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle" data-feather="corner-right-down"></i> <span class="align-middle">Multi Level</span>
        </a>
        <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
          <li class="sidebar-item">
            <a data-target="#multi-2" data-toggle="collapse" class="sidebar-link collapsed">Two Levels</a>
            <ul id="multi-2" class="sidebar-dropdown list-unstyled collapse">
              <li class="sidebar-item">
                <a class="sidebar-link" href="/guide/#">Item 1</a>
                <a class="sidebar-link" href="/guide/#">Item 2</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-item">
            <a data-target="#multi-3" data-toggle="collapse" class="sidebar-link collapsed">Three Levels</a>
            <ul id="multi-3" class="sidebar-dropdown list-unstyled collapse">
              <li class="sidebar-item">
                <a data-target="#multi-3-1" data-toggle="collapse" class="sidebar-link collapsed">Item 1</a>
                <ul id="multi-3-1" class="sidebar-dropdown list-unstyled collapse">
                  <li class="sidebar-item">
                    <a class="sidebar-link" href="/guide/#">Item 1</a>
                    <a class="sidebar-link" href="/guide/#">Item 2</a>
                  </li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/guide/#">Item 2</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  
  </div>
